
<div class="card">
    <div class="card-header">
      Información Personal y de Contacto
    </div>
    <div class="card-body">
     
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Nombres</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Apellidos</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Apellidos" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustomUsername">Correo</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
              </div>
              <input type="text" class="form-control" id="validationCustomUsername" placeholder="Correo" aria-describedby="inputGroupPrepend" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Fecha de nacimiento</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Fecha nacimiento" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom04">Dirección</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="Dirección" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom05">Teléfono</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Teléfono" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom03">Descripción Personal</label>
            <input type="text" class="form-control" id="validationCustom06" placeholder="Mi descripción" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>


    </div>
  </div>

<br/>


<div class="card">
    <div class="card-header">
      Experiencias Laborales
    </div>
    <div class="card-body">
     
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Empresa</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Cargo</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Apellidos" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Fecha de inicio</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Fecha nacimiento" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Hasta</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="Dirección" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
        <br/> <br/>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Cargo</th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
            </tbody>
          </table>



      </form>


    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
      Estudios / Certificaciones
    </div>
    <div class="card-body">
     
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Centro de Estudios</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Curso</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Apellidos" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Fecha de inicio</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Fecha nacimiento" required>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">Fecha de Termino</label>
            <input type="text" class="form-control" id="validationCustom04" placeholder="Dirección" required>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
        <br/> <br/>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Cargo</th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
            </tbody>
          </table>



      </form>


    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
      Conocimientos y Habilidades
    </div>
    <div class="card-body">
     
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationCustom01">Tema</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Nombres" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationCustom02">Nivel de Conocimiento</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Apellidos" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
        <br/> <br/>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Tema</th>
                <th scope="col">Nivel de conocimiento</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td><button class="btn btn-primary" type="button">Editar</button>&nbsp;<button class="btn btn-secondary" type="button">Eliminar</button></td>
              </tr>
            </tbody>
          </table>



      </form>


    </div>
  </div>